/**
 * color chart
 */
/**
 * responsive breakpoints
 * @media(min-width: $)
 */
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

body {
  width: 90%;
  font-family: 'DM Sans', sans-serif;
  font-size: .8rem;
  font-weight: 400;
  margin: 0 auto;
}

h2 {
  color: #D3573C;
  font-size: 36px;
  font-weight: 400;
}

header {
  width: 90%;
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding-bottom: 40px;
  background-color: #fff;
}

.logo, nav, h1 {
  -ms-grid-row: 2;
  grid-row: 2;
  margin: 0 10px;
}

.logo {
  width: 12rem;
  padding-top: 10px;
}

#go-up {
  display: none;
  width: 200px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  margin: 10px auto;
  padding: 0 5px;
  font-size: 18px;
  font-weight: 700;
  background-color: #D3573C;
  border: 1px solid #D3573C;
  border-radius: 5px;
  text-align: center;
  -webkit-animation: all .5s ease-in-out;
          animation: all .5s ease-in-out;
}

#go-up::after {
  display: block;
}

.tag-resumeview {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .tag-resumeview {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}

.content {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
}

.content .modal-body {
  position: absolute;
  width: 560px;
  height: 90%;
  overflow: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #DB8876;
}

.content .modal-body .close {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  color: #901C1C;
  font-size: 34px;
}

.content .modal-body .title-form,
.content .modal-body .photographer-name {
  margin: 0 40px;
  font-size: 40px;
  font-weight: 400;
  color: #000;
}

.content .modal-body .photographer-name {
  margin-bottom: 20px;
}

.content .modal-body .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .modal-body .contact-form .formInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.content .modal-body .contact-form .formInput label {
  margin-top: 10px;
  width: 85%;
  font-size: 24px;
  color: #312e2e;
}

.content .modal-body .contact-form .formInput .text,
.content .modal-body .contact-form .formInput .textarea {
  width: 85%;
  border-radius: 5px;
  border: none;
  background-color: #fff;
}

.content .modal-body .contact-form .formInput .text {
  height: 40px;
}

.content .modal-body .contact-form .formInput .textarea {
  height: 120px;
}

.content .modal-body .contact-form .formInput .verif {
  width: 85%;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #d61616;
}

.content .modal-body .contact-form .submit-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 85%;
}

.content .modal-body .contact-form .submit-btn-container .submit-btn {
  width: 170px;
  height: 50px;
  margin: 30px 0;
  background-color: #901C1C;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  border: none;
}

.title-index {
  font-size: 36px;
  color: #901C1C;
  font-weight: 400;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 150px;
}

.resume-view {
  width: 350px;
  margin-bottom: 80px;
  text-align: center;
}

.resume-view .portrait, .resume-view h2 {
  cursor: pointer;
}

.resume-view .portrait {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.resume-view p {
  padding: 2px;
}

.resume-view .localisation {
  color: #901C1C;
  font-size: 13px;
}

.resume-view .tagline {
  font-size: 10px;
}

.resume-view .price {
  font-size: 9px;
  color: #757575;
}

@media (max-width: 992px) {
  main {
    padding-top: 250px;
  }
}

.margin {
  height: 100px;
  padding-top: 100px;
}

.full-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 40px;
  background-color: #fafafa;
  border-radius: 5px;
}

.full-view .localisation, .full-view .tagline-fullview, .full-view .tag-fullview {
  margin: 10px 0;
}

.full-view .name-fullview {
  font-size: 64px;
}

.full-view .localisation {
  color: #901C1C;
  font-size: 24px;
}

.full-view .tagline-fullview {
  font-size: 18px;
}

.full-view .tag-fullview {
  font-size: 18px;
}

.full-view .portrait-fullview {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.all-medias article {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.all-medias article .media {
  border-radius: 5px;
}

.all-medias article .media-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.all-medias article .media-infos .media-title {
  font-size: 24px;
  color: #901C1C;
}

.all-medias article .media-infos .media-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort {
  margin: 30px 0;
}

.sort .sort-by {
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
}

.sort #select-sort, .sort .selection {
  width: 170px;
  height: 70px;
  background-color: #901C1C;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 20px;
  border: 1px solid #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.sort #select-sort:focus, .sort .selection:focus {
  border: 1px solid #901C1C;
}

.sort #select-sort {
  border: 1px solid #901C1C;
  border-radius: 5px;
}

.sort .selection {
  border-bottom: 1px solid #fff;
}

@media (max-width: 992px) {
  .full-view {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .full-view .portrait-fullview {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .full-view .photographer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 0;
  }
  .sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact-btn {
  height: 69px;
  width: 170px;
  font-size: 20px;
  background-color: #901C1C;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #901c1c;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.contact-btn:hover, .contact-btn:focus {
  background-color: #DB8876;
  color: #000;
  border-color: #DB8876;
}

.tags {
  margin: 5px;
  padding: 2px;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  cursor: pointer;
  background-color: #fff;
  color: #901C1C;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.tags:hover {
  background-color: #901C1C;
  color: #fff;
  border-color: #901C1C;
}

.tags.active {
  background-color: #901C1C;
  color: #fff;
}

.all-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.all-medias article {
  padding: 30px;
}

.all-medias article .media {
  width: 350px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.all-medias article .media-infos {
  width: 350px;
  padding-top: 5px;
}

.all-medias article .media-infos .media-title, .all-medias article .media-infos .media-likes {
  font-size: 24px;
  color: #901C1C;
}

.all-medias article .media-infos .media-title {
  font-weight: 400;
}

.all-medias article .media-infos .media-likes {
  font-weight: 500;
}

.all-medias article .media-infos .media-likes .sum-likes {
  width: 35px;
}

.all-medias article .media-infos .media-likes .fa-heart {
  width: 30px;
  margin-left: 3px;
  padding-right: 5px;
}

.lightbox-container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.lightbox-container .lightbox {
  width: 90%;
  height: 90%;
  margin: auto;
  max-width: 1200px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
}

.lightbox-container .lightbox .close {
  color: #901C1C;
  font-size: 3em;
  position: fixed;
  top: 30px;
  right: 50px;
  cursor: pointer;
}

.lightbox-container .lightbox .previous,
.lightbox-container .lightbox .next {
  font-size: 3em;
  color: #901C1C;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.lightbox-container .lightbox .previous {
  left: 50px;
}

.lightbox-container .lightbox .next {
  right: 30px;
}

.lightbox-container .lightbox .close,
.lightbox-container .lightbox .previous,
.lightbox-container .lightbox .next {
  cursor: pointer;
}

.lightbox-container .lightbox .lightbox-content {
  width: 80%;
  height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.lightbox-container .lightbox .lightbox-content img {
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
}

.lightbox-container.show {
  display: initial;
}
/*# sourceMappingURL=main.css.map */