/**
 * color chart
 */
/**
 * responsive breakpoints
 * @media(min-width: $)
 */
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

body {
  width: 95%;
  font-family: 'DM Sans', sans-serif;
  font-size: .8rem;
  font-weight: 400;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  color: #901C1C;
}

header {
  width: 100%;
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(4, 1fr);
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding-bottom: 10px;
  background-color: #fff;
}

.logo, nav, .title-index {
  -ms-grid-row: 2;
  grid-row: 2;
  margin: 0 10px;
}

.logo {
  width: 12rem;
  padding-top: 10px;
  cursor: pointer;
}

#go-up {
  display: none;
  width: 200px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  margin: 10px auto;
  padding: 0 5px;
  font-size: 18px;
  font-weight: 700;
  background-color: #D3573C;
  border: 1px solid #D3573C;
  border-radius: 5px;
  text-align: center;
  -webkit-animation: all .5s ease-in-out;
          animation: all .5s ease-in-out;
}

#go-up::after {
  display: block;
}

.tag-resumeview {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .tag-resumeview {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}

.content {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
}

.content .modal-body {
  position: absolute;
  width: 560px;
  height: 90%;
  overflow: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #DB8876;
}

.content .modal-body .close {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  color: #901C1C;
  font-size: 34px;
}

.content .modal-body .title-form,
.content .modal-body .photographer-name {
  margin: 0 40px;
  font-size: 40px;
  font-weight: 400;
  color: #000;
}

.content .modal-body .photographer-name {
  margin-bottom: 20px;
}

.content .modal-body .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .modal-body .contact-form .formInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.content .modal-body .contact-form .formInput label {
  margin-top: 10px;
  width: 85%;
  font-size: 24px;
  color: #312e2e;
}

.content .modal-body .contact-form .formInput .text,
.content .modal-body .contact-form .formInput .textarea {
  width: 85%;
  border-radius: 5px;
  border: none;
  background-color: #fff;
}

.content .modal-body .contact-form .formInput .text {
  height: 40px;
}

.content .modal-body .contact-form .formInput .textarea {
  height: 120px;
}

.content .modal-body .contact-form .formInput .verif {
  width: 85%;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #d61616;
}

.content .modal-body .contact-form .submit-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 85%;
}

.content .modal-body .contact-form .submit-btn-container .submit-btn {
  width: 170px;
  height: 50px;
  margin: 30px 0;
  background-color: #901C1C;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  border: none;
}

.title-index {
  font-size: 36px;
  color: #901C1C;
  font-weight: 400;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 150px;
}

.resume-view {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.resume-view .link-portrait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.resume-view .link-portrait:hover {
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.resume-view .link-portrait .portrait, .resume-view .link-portrait .title-name {
  cursor: pointer;
}

.resume-view .link-portrait .portrait {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.resume-view .link-portrait .title-name {
  font-size: 36px;
  font-weight: 400;
  color: #D3573C;
}

.resume-view p {
  padding: 2px;
}

.resume-view .localisation-index,
.resume-view .tagline-index,
.resume-view .price {
  padding: 2px;
}

.resume-view .localisation-index {
  color: #901C1C;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
}

.resume-view .tagline {
  font-size: 10px;
}

.resume-view .price {
  margin-bottom: 5px;
  font-size: 9px;
  color: #757575;
}

@media (max-width: 992px) {
  main {
    padding-top: 250px;
  }
}

.margin {
  height: 100px;
  padding-top: 100px;
  background-color: #fff;
}

.full-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 40px;
  background-color: #fafafa;
  border-radius: 5px;
}

.full-view .localisation, .full-view .tagline-fullview, .full-view .tag-fullview {
  margin: 10px 0;
}

.full-view .name-fullview {
  color: #D3573C;
  font-size: 36px;
  font-weight: 400;
  font-size: 64px;
}

.full-view .localisation {
  color: #901C1C;
  font-size: 24px;
  font-style: normal;
}

.full-view .tagline-fullview {
  font-size: 18px;
  color: #525252;
}

.full-view .tag-fullview {
  font-size: 18px;
}

.full-view .portrait-fullview {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sort {
  margin: 30px 0;
}

.sort .sort-by {
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
}

.sort #select-sort, .sort .selection {
  width: 170px;
  height: 70px;
  background-color: #901C1C;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sort #select-sort:focus, .sort .selection:focus {
  border: 1px solid #901C1C;
}

.sort #select-sort {
  border: 1px solid #901C1C;
  border-radius: 5px;
}

.sort #select-sort .selection::after {
  border-bottom: 1px solid #fff;
  height: 70px;
}

.total-likes-container {
  width: 250px;
  height: 80px;
  position: fixed;
  bottom: 0;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #DB8876;
  font-size: 24px;
  color: #000;
  border-radius: 5px;
}

.total-likes-container .likes-result .likes-result-heart {
  width: 25px;
  margin-left: 7px;
}

@media (max-width: 992px) {
  .full-view {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .full-view .portrait-fullview {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .full-view .photographer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 0;
  }
  .sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact-btn {
  height: 69px;
  width: 170px;
  font-size: 20px;
  background-color: #901C1C;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #901c1c;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.contact-btn:hover, .contact-btn:focus {
  background-color: #DB8876;
  color: #000;
  border-color: #DB8876;
}

.tags {
  margin: 5px;
  padding: 2px;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  cursor: pointer;
  background-color: #fff;
  color: #901C1C;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.tags:hover {
  background-color: #901C1C;
  color: #fff;
  border-color: #901C1C;
}

.tags.active {
  background-color: #901C1C;
  color: #fff;
}

.all-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 100px;
}

.all-medias article {
  width: 350px;
  margin: 10px 30px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-medias article .media {
  width: 350px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
}

.all-medias article .media-infos {
  width: 350px;
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.all-medias article .media-infos .media-title, .all-medias article .media-infos .media-likes {
  font-size: 24px;
  color: #901C1C;
}

.all-medias article .media-infos .media-title {
  font-weight: 400;
}

.all-medias article .media-infos .media-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 500;
}

.all-medias article .media-infos .media-likes .sum-likes {
  width: 35px;
  margin-right: 5px;
}

.all-medias article .media-infos .media-likes .fa-heart {
  width: 30px;
  margin-left: 3px;
  padding-right: 5px;
  padding-top: 3px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .all-medias {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#container-lightbox {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

#container-lightbox .lightbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 12fr 1fr;
      grid-template-columns: 1fr 12fr 1fr;
  -ms-grid-rows: 2fr 18fr 1fr;
      grid-template-rows: 2fr 18fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: #fff;
}

#container-lightbox .lightbox #close-lightbox {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  color: #901C1C;
  font-size: 3em;
  cursor: pointer;
}

#container-lightbox .lightbox #prev,
#container-lightbox .lightbox #next {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 3em;
  color: #901C1C;
}

#container-lightbox .lightbox #prev {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

#container-lightbox .lightbox #next {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

#container-lightbox .lightbox #close-lightbox,
#container-lightbox .lightbox #prev,
#container-lightbox .lightbox #next {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

#container-lightbox .lightbox .lightbox-content {
  width: 80%;
  height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#container-lightbox .lightbox .lightbox-content img {
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
}

#container-lightbox .lightbox .lightbox-content .media-lightbox {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 100%;
  height: 95%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  border-radius: 5px;
}

#container-lightbox .lightbox .lightbox-content .title-media {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  font-size: 24px;
  color: #901C1C;
}
/*# sourceMappingURL=main.css.map */