header {
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
    background-color: #fff;

}

.logo, nav, .title-index {
    grid-row: 2;
    margin: 0 10px;
}

.logo {
    width: 12rem;
    padding-top: 10px;
}

#go-up {
    display: none;
    width: 200px;
    grid-column: 1/5;
    margin: 10px auto;
    padding: 0 5px;
    font-size: 18px;
    font-weight: 700;
    background-color: #D3573C;
    border: 1px solid #D3573C;
    border-radius: 5px;
    text-align: center;
    animation: all .5s ease-in-out;
    &::after {
        display: block;
    }
}

.tag-resumeview {
    grid-column: 2/4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: $large-screen) {
    header {
        display: flex;
        flex-direction: column;
        .tag-resumeview {
            margin-top: 20px;
            margin-bottom: 15px;
        }
    }
}
