header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    width: 12rem;
    padding: 10px 0 0 20px;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

h1 {
    padding-right: 30px;
}

// nav div a {
//     margin-bottom: 20px;
//     @include secondary-dark-theme;
//     background-color: #DB8876;
//     color: #000;
//     border: none;
//     border-radius: 3px;
//     padding: 0 8px;
//     text-align: center;
//     font-size: 1rem;
//     font-weight: 700;
// }

