header {
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-bottom: 30px;
}

.logo, nav, h1 {
    grid-row: 2;
    margin: 0 10px;
}

.logo {
    width: 12rem;
    padding-top: 10px;
}

#go-up {
    display: none;
    width: 200px;
    grid-column: 1/5;
    margin: 10px auto;
    padding: 0 5px;
    font-size: 18px;
    font-weight: 700;
    background-color: #D3573C;
    border: 1px solid #D3573C;
    border-radius: 5px;
    text-align: center;
}

.tag-resumeview {
    grid-column: 2/4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    padding-right: 30px;
}

// nav div a {
//     margin-bottom: 20px;
//     @include secondary-dark-theme;
//     background-color: #DB8876;
//     color: #000;
//     border: none;
//     border-radius: 3px;
//     padding: 0 8px;
//     text-align: center;
//     font-size: 1rem;
//     font-weight: 700;
// }

