// static button
button {
    max-height: 27px;
    margin: 3px;
    padding: 3px 5px;
    background-color: #fff;
    color: $primary-color;
    border: .5px solid #C4C4C4;
    border-radius: 11px;
    font-weight: 700;
    text-align: center;
}