.lightbox-container {
    animation: lightboxIn .5s;    
    .lightbox {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .9);
        z-index: 10;
        &__next, &__prev, &__close {
            font-size: 24px;
            color: $primary-color;
            position: fixed;
            z-index: 11;
            opacity: .5;
            text-indent: -3000px;
            cursor: pointer;
            transition: opacity .3s;
        }
        &__next:hover,
        &__prev:hover,
        &__close:hover {
            opacity: 1;
        }
        &__next, &__prev {
            top: 50%;
            transform: translate(-50%, -50%);
        }
        &__previous {
            left: 50px;
        }
        &__next {
            right: 30px;
        }
        &__close {
            top: 30px;
            right: 50px;
            text-indent: -3000px;  
        }
        &__content img {
            max-width: 100%;
            max-height: auto;
        }
        &__content {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 50px;
            min-height: 90vh;
            .lightbox__loader {
                width: 38px;
                height: 38px;
                opacity: .5;
                background: url(../../images/svg/loader.svg) center center no-repeat;
            }
        }
    }
}

@keyframes lightboxIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}