.title-index {
    font-size: 36px;
    color: $primary-color;
    font-weight: 400;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 150px;
}


.resume-view {
    width: 350px;
    // margin: 15px;
    margin-bottom: 80px;
    text-align: center;
    .portrait, h2 {
        cursor: pointer;
    }
    .portrait {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
    p {
        padding: 2px;
    }
    .localisation {
        color: $primary-color;
        font-size: 13px;   
    }
    .tagline {
        font-size: 10px;
    }
    .price {
        font-size: 9px;
        color: #757575;
    }
}

@media (max-width: $large-screen) {
    main {
        padding-top: 250px;
    }
}



