.margin {
    height: 100px;
    padding-top: 100px;
}

.full-view {
    display: flex;
    justify-content: space-between;
    padding: 60px 40px;
    background-color: #fafafa;
    border-radius: 5px;
    .localisation, .tagline-fullview, .tag-fullview {
        margin: 10px 0;
    }
    .name-fullview {
        font-size: 64px;
    }
    .localisation {
        color: $primary-color;
        font-size: 24px;   
    }
    .tagline-fullview {
        font-size: 18px;
    }
    .tag-fullview {
        font-size: 18px;
    }
    .portrait-fullview {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.all-medias {
    .media {
        border-radius: 5px;
    }
    .media-infos {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        .media-title {
            font-size: 24px;
            color: $primary-color;
        }
        .media-likes {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            .sum-likes {
                margin-right: 10px;
            }
        }
    }
}

// .media-infos {
//     display: flex;
//     flex-wrap: nowrap;
//     justify-content: space-between;
// }

.sort {
    margin: 30px 0;
    .sort-by {
        padding: 20px;  
        font-size: 18px;
        font-weight: 700;
    }
    #select-sort, .selection {
        width: 170px;
        height: 70px;
        @include primary-dark-theme;
        font-size: 18px;
        font-weight: 700;
        padding: 20px;
        border: 1px solid $primary-color;
        border-radius: 5px;
        cursor: pointer;
        &:focus {
            border: 1px solid $primary-color;

        } 
    }
    #select-sort {
        border: 1px solid $primary-color;
        border-radius: 5px;  
    }
    .selection {
        border-bottom: 1px solid #fff;
    }
}

  
  


  